<% if (currentUser && currentUser.id === journey.userId) { %>
  <div class="form-container">
    <h2>Edita tu viaje</h2>
    <%- include('_form') %>
  </div>
<% } else { %>
  <div id="invalid-route">
    <img src="http://www.stickpng.com/assets/images/5897a8c3cba9841eabab6156.png">
    <h2>No tienes permitido editar los viajes de otros</h2>
    <a class="volver" href="<%- showJourneyPath(journey) %>">
      Volver al journey
    </a>
    <a class="volver" href="/">Menú principal</a>
  </div>
<% } %>