<div class="comment-show">
    <div>    
        <label class="show"> Fecha:</label> 
        <p class="show"><%=comment.date %></p>
    </div>
    <div> 
        <label class="show"> Contenido:</label> 
        <p class="show"><%= comment.content %></p>
    </div>
    <div> 
        <label class="show"> Puntaje:</label> 
        <p class="show"><%= comment.ranking %></p>
    </div>
</div>