<% if (!currentUser) { %>
  <div class="form-container">
    <h2 class="form-title">Ingrese sus datos</h2>
    <%- include('_form') %>
  </div>
<% } else { %>
  <div id="invalid-route">
    <img src="http://www.stickpng.com/assets/images/5897a8c3cba9841eabab6156.png">
    <h2>Debes cerrar sesión para crear un nuevo usuario</h2>
    <a class="volver" href="/">Menú principal</a>
  </div>
<% } %>